{{>common-top}}

<h1>FAQ - Authorized Agent research</h1>

<div class="column">
    <h2>1. Can I revoke my authorization during or after the study?</h2>
	<p>Yes, you can revoke authorization at any point. Please send us a note to <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a> and we will send you a personalized link to cease our authorized representation of you. 

	After the study, the authorization will technically continue unless you explicitly revoke it. When we finish our research analysis, we will send a note with a short web form that allows you to revoke the authorization. 

	That said, even if you don't revoke the authorization, after this study we will never take any further action as an Authorized Agent on your behalf without your explicit permission.  

	If you are one of the small group that granted CR Power of Attorney with extra signatures (see FAQ #8, you should know who you are), we will provide you with a more extensive written form to fully revoke that authorization and send copies of it to the third parties to which it was originally sent. Please reach out to <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a> with any questions.</p>
	
	
	<h2>2. How might companies ask me to confirm my identity?
</h2>
	<p>The process will differ from company to company and may depend on whether you already have a password-protected account with that company. In general, a company should ask you to provide identifying data that matches the information the company already maintains. 

	Some will ask you to verify your identity within 24 hours by clicking on an email link. Depending on the sensitivity and value of the data a company has for you, the company might give you up to 7 days to send a copy of your government-issued ID. <b>If companies ask you for your Social Security Number, driver’s license number, health insurance information or any piece of information they shouldn’t already have access to please consider emailing</b> <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a>. For example, a pet store should probably not ask for a driver’s license number to verify your identity, but your car insurance company might. It may be inappropriate (or even unlawful) for companies to ask for this sensitive type of data and we’ll want to make note in our report to the Attorney General’s Office. 

	Consumer Reports confirms your identity via email and phone when you sign up for this study. It is possible that some companies will honor our identity verification process, in which case they may not ask you to confirm your identity a second time.
	</p>
	
	
	<h2>3. Will CR be receiving my data?
</h2>
	<p>We have expressly asked companies to send (or otherwise make accessible) your data to you and you only. If a company accidentally sends your data (or a link to it) to Consumer Reports, we will delete it on first notice and respond to the company asking them to re-send the data (or link) to you directly. 

	Our final report may comment on the kinds of data companies return in response to data access requests.
	</p>
	
	
	<h2>4. What if CR ends up receiving my data instead of me?</h2>
	<p>Our research team will delete your data on first notice and ask the company to re-send the data directly to you instead. We don’t plan to view or use your data unless you personally send your data to our research team.</p>
	
	
	<h2>5. If I don’t believe certain companies on your list have any of my data, why are you sending requests to them anyway?</h2>
	<p>For experimental purposes. First, you may not have used a company’s services but they may have purchased data about you from third parties. If a company truly does not have any of your data, we want to see how long it takes them to confirm this and in what manner they choose to communicate this update.</p>
	
	
	<h2>6. What is required of me in the next two months?</h2>
	<p>Responses and data will help us understand how the data access process went for you and identify challenges and successes. We hope to use these findings to advocate to policymakers to improve consumer data rights and the methods to exercise them, to communicate with companies about how to respect consumer rights, and to develop services that help consumers exercise their rights.

	You can help us gather this information in the following ways:
	<ul>
		<li>Confirm your identity with companies when they ask. Companies will likely reach out to you directly to confirm your identity. </li>
		<li>Respond to three questionnaires sent by our team. These questionnaires will ask about your experience in the study, including what companies required of you to verify your identity; whether you received your data from companies; and whether the data was useful to you.</li>
	</ul>
	</p>
	
	
	<h2>7. When should I expect to hear back from companies?</h2>
	<p>By law, companies are required to fulfill your request within 45 business days of your identity confirmation. Please reach out to <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a> if you experience any unexpected delays.</p>
	
	
	<h2>8. What is a witnessed Power of Attorney authorization? </h2>
	<p>A small group of volunteers has been asked to grant Consumer Reports power of attorney to take data action on their behalf.  Under California law, a power of attorney must be either notarized or witnessed by two adults. We’re curious to see if and how companies react differently to this type of authorization.</p>
	
	
	<h2>9. What's next at CR?</h2>
    <p>Consumer Reports plans to launch a complete authorized agent service later in the coming months. You can sign up to receive announcements about this service, Permission Slip, <a href="http://permissionslipcr.com/">here</a>.</p>


    <p>Thanks for helping Consumer Reports make data rights more meaningful! We couldn’t do this without you.</p>
</div>

{{>common-bottom}}
