{{>common-top}}

<h1>The Authorized Agent Study is Full</h1>

<div class="column">
    <p>Thanks for your interest in joining data rights research with Consumer Reports! Unfortunately, <b>we have reached capacity for this Data Access Agent study</b>. There’s a lot brewing here at the CR Digital Lab, so we’ll be in touch with our results and other research opportunities in the future.</p>

    <p>If you have any questions, concerns, or would like to be added to a waitlist, please reach out to our team at <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a>. If you’re just curious about the research, you might enjoy our <a href="https://docs.google.com/document/d/1Fj2pNQOBONL-BTbnG4VFYLHaGfpaPHYcznZo5Jnll-A/edit">FAQ page</a>.</p>

    <p>Consumer Reports plans to launch a complete authorized agent service later this year. You can sign up to receive announcements about this service, Permission Slip, <a href="http://permissionslipcr.com/">here</a>.</p>

    <p>If you’re <i>already</i> enrolled in the study and want to review documents or opt out, click here or email us at <a href="mailto:datarightsstudy@cr.org">datarightsstudy@cr.org</a>.</p>

    <p>Thanks for helping Consumer Reports make data rights more meaningful! We couldn’t do this without you.</p>
</div>

{{>common-bottom}}
